:root {
  --basic-black: #000000;
  --main-nav: #32425C;
  --header-footer: #293449;
  --main-nav-active: #1D2739;
  --active-inset: #405069;
  --color-blue-5: #212A3A;  /* Не используется */
  --bookmarks-cart-active: #161D29;
  --background-instrument: #3BBCE3;
  --basic-white: #ffffff;
  --basic-background-blue: #F1F5F7;
  --login-register-active: #C5C5C5;
  --old-price: #A9A9A9;
  --background-popular: #F9F5F0;
  --sort-filter-background: #F7F3EC;
  --header-background: #F3F7F9;
  --color-white-8: #F2F6F8; /* Не используется */
  --manufacturers-border: #EAEAEA;
  --red-native: #EE3643;
  --red-active: #BA2732;
  --background-materials: #FFBF47;
  --footer-links: #FFD180;
  --background-delivery: #FFC047;
  --order-buy: #63A63E;
  --order-buy-hover: #5FBB2D;
  --background-discount: #8ED78F;
  --buy-active: #518534;
  --buy-underline: #367315;
  --background-technique: #DC91D8;
  --logo-box-shadow: rgba(0, 0, 0, 0.24);
  --promo-btn-shadow: rgba(255, 255, 255, 0.3);
  --promo-btn-hover: rgba(197,197,197,0.3);
  --promo-btn-active: rgba(169,169,169,0.3);
  --manufacturers-hover-active: rgba(0, 0, 0, 0.15);
}

/* Глобальные стили */

body {
  min-width: 960px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Общие стили */

.btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--red-native);
}

.btn:active {
  background-color: var(--red-active);
}

.popular {
  background-color: var(--background-popular);
}

.title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Header */

.header {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: var(--header-background);
}

.header-top {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--header-footer);
}

.logo-btn {
  background-color: var(--red-native);
  box-shadow: inset 0px -5px 0px var(--logo-box-shadow);
}

.logo-btn:active {
  background-color: var(--red-active);
}

.search-btn {
  background: none;
  border: none;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  opacity: 0.3;
  transition: opacity 0.3s;
}

.search-btn:hover {
  opacity: 1;
}

.search-input {
  background: none;
  border: none;
  background-color: var(--header-footer);
}

.search-input:focus {
  background: #f2f6f8;        /* Временно для теста. т.к. пока не удалось сделать бэк при наведении, с учетом кнопки. */
  color: var(--basic-black);
}

::placeholder {
  color: var(--basic-white);
}


.bookmarks-btn {
  color: var(--basic-white);
}

.bookmarks-btn::before {
  content: "";
  display: inline-block;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.bookmarks-btn:hover::before {
  opacity: 1;
}

.bookmarks-btn:active {
  opacity: 0.5;
  background-color: var(--bookmarks-cart-active)
}

.cart-btn {
  color: var(--basic-white);
}

.cart-btn::before {
  content: "";
  display: inline-block;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cart-btn:hover::before {
  opacity: 1;
}

.cart-btn:active {
  opacity: 0.5;
  background-color: var(--bookmarks-cart-active)
}

.order-btn {
  color: var(--basic-white);
  background-color: var(--order-buy);
  transition: background-color 0.3s;
}

.order-btn:hover {
  background-color: var(--order-buy-hover);
}

.order-btn:active {
  opacity: 0.5;
}

.header-title {
  color: var(--red-native);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-phone {
  color: var(--red-native);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: 3px solid var(--basic-white);
}

.header-phone::before {
  content: "";
  display: inline-block;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
}

.header p {
  font-size: 14px;
  line-height: 24px;
}

.user-nav {
  font-size: 21px;
  line-height: 21px;
}

.login {
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: color 0.3s;
}

.login::before {
  content: "";
  display: inline-block;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 17px;
  opacity: 0.5;
}

.login:hover {
  color: var(--red-native);
}

.login:active {
  color: var(--login-register-active);
  opacity: 0.5;
}

.register {
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: color 0.3s;
}

.register:hover {
  color: var(--red-native);
}

.register:active {
  color: var(--login-register-active);
  opacity: 0.5;
}

.main-nav {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--main-nav);
}

.main-nav a{
  color: var(--basic-white);
  transition: background-color 0.3s;
}

.main-nav a:hover {
  background-color: var(--header-footer);
}

.main-nav a:active {
  background-color: var(--main-nav-active);
  opacity: 0.5;
}

/* Index */

.promo-block {
  font-family: "Cuprum", "Arial", sans-serif;
}

.promo-materials {
  background-color: var(--background-materials);
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center right 43px;
}


.promo-intsrument {
  background-color: var(--background-instrument);
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center right 31px;
}

.promo-technic {
  background-color: var(--background-technique);
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center right 31px;
}

.promo-discount {
  background-color: var(--background-discount);
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: center right 45px;
}

.promo-delivery {
  background-color: var(--background-delivery);
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: center right 31px;
}

.promo-title {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-btn {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--promo-btn-shadow);
  transition: background-color 0.3s;
}

.promo-btn:hover {
  background-color: var(--promo-btn-hover);
}

.promo-btn:active {
  background-color: var(--promo-btn-active);
  transition: background-color 0s;
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
}


.product {
  background-color: var(--basic-white);
  border: 1px solid var(--manufacturers-border);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.product h3 {
  font-size: 18px;
  line-height: 20px;
}

.product del {
  color: var(--old-price);
}

.product span {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase ;
}

.product-controls {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product-buy {
  color: var(--basic-white);
  text-align: center;
  background-color: var(--order-buy);
  box-shadow: inset 0px -3px 0px var(--buy-underline);
  transition: background-color 0.3s;
}

.product-buy::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icon-cart.svg);
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.product-buy:hover {
  background-color: var(--order-buy-hover);
}

.product-buy:active {
  background-color: var(--buy-active);
  transition: background-color 0s;
}

.product-bookmark {
  color: var(--main-nav);
  border: 3px solid var(--order-buy);
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.product-bookmark:hover {
  border: 3px solid var(--main-nav);
  box-sizing: border-box;
  border-radius: 2px;
}

.product-bookmark:active {
  opacity: 0.5;
}

.manufacturers {
  border: 1px solid var(--manufacturers-border);
  box-sizing: border-box;
  transition: box-shadow 0.3s;
}

.manufacturers:hover {
  box-shadow: 0px 4px 20px var(--manufacturers-hover-active);
}

.manufacturers:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px var(--manufacturers-hover-active);
}

.services {
  background-color: var(--basic-background-blue);
}

.active {
  color: var(--basic-white);
  background-color: var(--main-nav);
  box-shadow: 0px 1px 0px var(--header-footer), inset 0px 1px 0px var(--active-inset);
}

.acеive:hover {
  background-color: var(--header-footer);
  box-shadow: 0px 1px 0px var(--header-footer), inset 0px 1px 0px var(--active-inset);
}

.delivery {
  background-image: url(../img/service-delivery.png);
  background-repeat: no-repeat;
  background-position: center;
}

.about ul {
  font-family: "Cuprum", "Arial", sans-serif;
  list-style-type: none;
  font-size: 18px;
  line-height: 24px;
}

/* Catalog */

.breadcrumbs,
.filter h2,
.sort {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort,
.filter h2 {
  font-weight: 400;
  background-color: var(--sort-filter-background);
}

.sort a {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--red-native);
  transition: 0.3s;
}

.sort a:hover {
  border-bottom: 1px solid var(--red-native);
  opacity: 1;
}

.sort a:active {
  border-bottom: none;
  color: var(--red-native);
  transition: 0s;
}

.catalog-background {
  background-color: var(--basic-background-blue);
}

/* Footer */

.footer {
  font-family: "Cuprum", "Arial", sans-serif;
  color: var(--basic-white);
  background-color: var(--main-nav);
}

.footer-top {
  font-size: 18px;
  line-height: 24px;
}

.footer-nav a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.footer-nav a:nth-child(n+6) {
  color:  var(--footer-links)
}

.footer-nav a:hover {
  text-decoration-line: underline;
}

.footer-nav a:active {
  opacity: 0.5;
}

.footer-bottom {
  background-color: var(--header-footer);
  font-size: 16px;
  line-height: 18px;
}

.feedback-contact a,
.developer-contact a {
  color: var(--footer-links);
}

/* Скрытые элементы */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}